a {
    text-decoration: none;
    color: white;
}

div {
    background-color: black;
    padding: 25px;
    margin: 15px;
    font-size: 1.4em;
    font-family: monospace;
}

.container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}